body {
  height: 50vh;
  zoom: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
p * {
  margin: 0 10px;
  vertical-align: center;
}
span {
  cursor: pointer;
  padding: 10px;
}
span:hover {
  color: #44c7f4;
}
#badge {
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  line-height: 1;
  color: #fff;
  padding: 4px 8px;
  background: #73cd1f;
  border-radius: 21px;
}
